@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: transparent;
}

.border-underline-grow {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  transition-property: color;
  transition-duration: 0.5s;
  @apply mb-1 pb-0.5;
}

.border-underline-grow:before {
  content: '';
  position: absolute;
  bottom: 0;
  z-index: -1;
  height: 100%;
  max-height: 9px;
  width: 100%;
  background: theme('colors.pink.200');
  border-radius: 3px;
  transform: scaleY(0.4);
  transition-property: max-height, transform;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

@media (hover: hover) and (pointer: fine) {
  .border-underline-grow:hover:before,
  .border-underline-grow:focus:before,
  .border-underline-grow:active:before {
    transform: scaleY(1);
    max-height: 100%;
    transition-timing-function: cubic-bezier(0.98, -0.4, 0.32, 1.6);
  }
}

.prose blockquote p:first-of-type::after,
.prose blockquote p:first-of-type::before {
  content: '';
}

.prose input[type='checkbox'] {
  position: relative;
}

.prose input[type='checkbox']:before {
  content: '';
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: theme('borderRadius.sm');
  background-color: theme('colors.surface0.200');
}

.prose input[type='checkbox']:checked:before {
  background-color: theme('colors.pink.200');
}

.prose input[type='checkbox']:checked:after {
  content: '';
  display: block;
  width: 5px;
  height: 10px;
  border: solid;
  border-color: theme('colors.base.200');
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  position: absolute;
  top: 1px;
  left: 0.3rem;
}

html.dark .prose input[type='checkbox']:before {
  background-color: theme('colors.surface0.100');
}

html.dark .prose input[type='checkbox']:checked:before {
  background-color: theme('colors.pink.100');
}

html.dark .prose input[type='checkbox']:checked:after {
  border-color: theme('colors.base.100');
}

[data-rehype-pretty-code-fragment] code {
  display: grid;
  counter-reset: line;
  box-decoration-break: clone;
}

[data-rehype-pretty-code-fragment] [data-line-numbers] > .line::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 1rem;
  margin-right: 1rem;
  text-align: right;
  color: theme('colors.surface2.100');
}

[data-rehype-pretty-code-fragment] pre {
  @apply px-0;
}

[data-rehype-pretty-code-fragment] .line {
  @apply px-6 py-1;
}

[data-rehype-pretty-code-fragment] .line--highlighted {
  @apply bg-[#2a2b3c];
}

[data-rehype-pretty-code-fragment] .word--highlighted {
  @apply rounded-md bg-[#2a2b3c] p-1;
}

[data-rehype-pretty-code-title] {
  @apply inline-flex rounded-lg bg-mantle-200 px-4 py-2 text-sm font-medium text-pink-200 dark:bg-mantle-100 dark:text-pink-100;
}

[data-rehype-pretty-code-title] + pre {
  @apply -mt-2;
}
