@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: transparent;
}

.animate-in {
  animation-delay: calc(var(--index) * 130ms);
}

.underlined {
  @apply underline decoration-neutral-300 decoration-2 underline-offset-4 transition-colors duration-300 hover:decoration-neutral-400 dark:decoration-neutral-700 dark:hover:decoration-neutral-500;
}

@media (hover: hover) and (pointer: fine) {
  .animated-list:hover li {
    opacity: 0.5;
  }

  .animated-list:hover li:hover {
    opacity: 1;
  }
}

[data-rehype-pretty-code-fragment] code {
  display: grid;
  counter-reset: line;
  box-decoration-break: clone;
}

[data-rehype-pretty-code-fragment] [data-line-numbers] > .line::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 1rem;
  margin-right: 1rem;
  text-align: right;
}

[data-rehype-pretty-code-fragment] pre {
  @apply px-0;
}

[data-rehype-pretty-code-fragment] .line {
  @apply px-6 py-1;
}

[data-rehype-pretty-code-fragment] .line--highlighted {
  @apply bg-[#2a2b3c];
}

[data-rehype-pretty-code-fragment] .word--highlighted {
  @apply rounded-md bg-[#2a2b3c] p-1;
}

[data-rehype-pretty-code-title] {
  @apply relative inline-flex rounded-t-lg bg-neutral-800 px-4 pt-2 pb-1 text-sm font-medium text-neutral-100;
}

[data-rehype-pretty-code-title]:after {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: transparent;
  border-bottom: 10px solid theme('colors.neutral.800');
  border-left: 10px solid theme('colors.neutral.800');
  border-bottom-left-radius: 17px;
  right: -10px;
  bottom: -10px;
  clip-path: inset(0 0 10px 10px);
}

[data-rehype-pretty-code-title] + pre {
  @apply mt-0 rounded-tl-none;
}
