@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: transparent;
}

.underlined {
  @apply underline decoration-surface2 decoration-2 underline-offset-4 transition-colors duration-300 hover:decoration-pink active:decoration-mauve;
}

@media (hover: hover) and (pointer: fine) {
  .animated-list:hover li {
    opacity: 0.5;
  }

  .animated-list:hover li:hover {
    opacity: 1;
  }
}

